# Workplace

In [31]:
import numpy as np
import pandas as pd

books_df = pd.read_csv('BX-Users.csv')

# Remove non-digit characters from 'User-Age' column
books_df['User-Age'] = books_df['User-Age'].str.replace(r'\D', '', regex=True)

# Convert 'User-Age' column to numeric
books_df['User-Age'] = pd.to_numeric(books_df['User-Age'], errors='coerce')

# Compute the median age
median_age = books_df['User-Age'].median()

# Replace NaN values with the median
books_df['User-Age'] = books_df['User-Age'].fillna(median_age)

# Adjusting ages greater than 99 and less than 10
books_df.loc[books_df['User-Age'] > 210, 'User-Age'] = books_df['User-Age'] - 200
books_df.loc[books_df['User-Age'] >= 200, 'User-Age'] = books_df['User-Age'] - 200 + 10
books_df.loc[books_df['User-Age'] > 110, 'User-Age'] = books_df['User-Age'] - 100
books_df.loc[books_df['User-Age'] >= 100, 'User-Age'] = books_df['User-Age'] - 100 + 10
books_df.loc[books_df['User-Age'] < 10, 'User-Age'] = books_df['User-Age'] + 10

In [40]:
# Compute the mode country
mode_country = books_df['User-Country'].mode()[0]

# Replace NaN values with the mode
books_df['User-Country'] = books_df['User-Country'].fillna(mode_country)

0            canada"
1               usa"
2               usa"
3               usa"
4               usa"
            ...
48294        canada"
48295        canada"
48296           usa"
48297     australia"
48298           usa"
Name: User-Country, Length: 48299, dtype: object
0            canada"
1               usa"
2               usa"
3               usa"
4               usa"
            ...
48294        canada"
48295        canada"
48296           usa"
48297     australia"
48298           usa"
Name: User-Country, Length: 48299, dtype: object